@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply antialiased;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .aspect-product {
        aspect-ratio: 4 / 5;
    }
}